@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

*
{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

html, body, #main
{
	width: 100%;
	min-width: 320px;
	min-height: 100vh;
}

body, input
{
	font-family: "Roboto Condensed", sans-serif;
	font-size: 26px;
}

body
{
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	justify-content: center;

	background-color: #330000;
	background-image: url("./../img/background.svg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

a
{
	text-decoration: none;
}


form:not(#search, #info)
{
	width: 650px;
}

form, .wrapper, #info, #input-search-all-client
{
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	justify-content: center;

	margin-bottom: 25px;
	padding: 65px 70px;

	background-color: #FFFFFF;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.client
{
	display: flex;
	align-items: center;
	flex-flow: row wrap;

	margin-bottom: 15px;
	padding: 15px 35px;

	transition: 0.3s all;

	border: 3px solid transparent;
	background-color: #FFFFFF;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.client:hover
{
	border: 3px solid rgb(230, 78, 98);
	background-color: rgb(250, 250, 250);
}

.client__id, .client__fio, .class__bonuses
{
	display: flex;
	align-items: center;
	justify-content: center;
}

.client__id
{
	font-size: 26px;

	width: 5%;
	height: 100%;
}

.client__fio
{
	font-size: 23px;

	align-content: center;
	flex-grow: 1;
	justify-content: flex-start;

	width: 80%;
	height: 100%;
	padding-left: 25px;
}

.class__bonuses
{
	font-size: 26px;

	width: 5%;
	height: 100%;
	padding-left: 25px;

	text-align: right;
}

#user_list
{
	width: 100%;
	padding: 25px 55px;
}

#input-search-all-client
{
	position: sticky;
	top: 0;

	width: 100%;
	padding: 20px 30px;
}

#main
{
	padding: 25px 55px;
}

#info p
{
	width: 100%;
	padding: 0px 5px;
}

hr
{
	width: 100%;
	margin: 15px 0px;

	opacity: 0.8;
}

.wrapper
{
	margin-top: 50px;
}

.wrapper
{
	flex-flow: row nowrap;

	padding: 5px 50px;
}

form input, .wrapper a
{
	width: 100%;
	margin: 15px 0px;
	padding: 20px 25px;

	transition: 0.3s all;
	text-align: center;

	border: 0;
}

input[type="text"], input[type="password"]
{
	color: rgb(136, 136, 136);
	border: 3px solid rgb(215, 215, 215);
	background-color: rgb(230, 230, 230);
}

input[type="text"]::placeholder, input[type="password"]::placeholder
{
	color: rgb(172, 172, 172);
}

input[type="text"]:hover, input[type="password"]:hover
{
	color: rgb(94, 94, 94);
	border: 3px solid rgb(230, 78, 98);
}

input[type="text"]:focus, input[type="password"]:focus
{
	color: rgb(8, 8, 8);
	border: 3px solid rgb(166, 37, 73);
}

input[type="submit"], .wrapper a
{
	cursor: pointer;

	color: white;
	background-color: rgb(230, 78, 98);
}

.wrapper a
{
	flex-grow: 1;

	margin: 25px 15px;
}

input[type="submit"]:hover, .wrapper a:hover
{
	background-color: rgb(180, 40, 80);
}

input[type="submit"]:focus, .wrapper a:focus
{
	background-color: rgb(146, 39, 53);;
}

header h1, h1
{
	margin-top: 45px;
	padding: 45px 65px;

	text-align: center;

	color: rgb(255, 255, 255);
}

#auth, #info, #bonus_payment, #accrual_of_bonuses, #create_client, #bonus_payment
{
	width: 650px;
}

@media screen and (max-width: 800px)
{
	.wrapper
	{
		flex-flow: column wrap;

		padding: 5px 65px;
	}
	.wrapper a
	{
		margin: 25px 0px;
	}
}

@media screen and (max-width: 700px)
{
	header h1, h1
	{
		margin-top: 0px;
	}
	#auth, #info, #bonus_payment, #accrual_of_bonuses, #create_client, #bonus_payment
	{
		width: 100%;
	}
	#info p span
	{
		display: block;

		width: 100%;
	}
	form, #info
	{
		width: 100%;
		padding: 45px 6%;
	}
	.wrapper
	{
		width: 100%;
		padding: 25px 7%;
	}
	header h1, h1
	{
		font-size: 10vw;
	}
	#main, #user_list
	{
		padding: 0px;
	}
	#info p
	{
		text-align: center;
	}
	.client
	{
		margin-bottom: 5px;
	}
	#input-search-all-client
	{
		text-align: center;
	}
	.client__fio
	{
		justify-content: center;

		text-align: center;
	}
}

@media screen and (max-width: 475px)
{
	#info p
	{
		font-size: 5vw;
	}
	#bonus_payment input, #accrual_of_bonuses input, #create_client input
	{
		font-size: 5vw;
	}
	.client__fio
	{
		font-size: 19px;
	}
}

@media screen and (max-width: 420px)
{
	input
	{
		font-size: 8vw;
	}
	form
	{
		width: 100%;
		padding: 25px 3%;
	}
	.wrapper
	{
		width: 100%;
		padding: 15px 4%;
	}
}
